<div id="header">
	<div id="logo">
		<h1><a href="{% url 'home' %}">kliyes.com</a></h1>
		<p>TODO:successful</p>
	</div>
	<div id="search">
		<form method="get" action="{% url 'blog_search' %}">
			<fieldset>
				<input type="text" name="k" id="search-text" size="15" placeholder="搜索" />
				<input type="submit" id="search-submit" value="GO" />
			</fieldset>
		</form>
	</div>
</div>
<!-- end #header -->
<!-- <div id="menu">
	<ul>
		<li class="current_page_item"><a href="{% url 'home' %}">Blog</a></li>
		<li><a href="#">Photos</a></li>
		<li><a href="#">About</a></li>
		<li><a href="#">Contact</a></li>
	</ul>
</div> -->
<!-- end #menu -->