<div id="sidebar" class="sidebar" >
	<ul>
		<li>
			<div id="search" >
				<form method="get" action="#">
					<div>
						<input type="text" name="s" id="search-text" value="" />
						<input type="submit" id="search-submit" value="GO" />
					</div>
				</form>
			</div>
			<div style="clear: both;">&nbsp;</div>
		</li>
		<li>
			<h2>Categories</h2>
			<ul>
			    {% for cate in cates %}
				    <li><a href="{% url 'blog_filter' 'cate' cate.id %}">{{ cate.text }} ({{ cate.used_count }}) </a></li>
				{% endfor %}
			</ul>
		</li>
		<li>
			<h2>Tags</h2>
			<ul>
                {% for tag in tags %}
                   <li><a href="{% url 'blog_filter' 'tag' tag.id %}">{{ tag.text }} ({{ tag.used_count }}) </a></li>
                {% endfor %}
			</ul>
		</li>
	</ul>
</div>