<div id="sidebar">
	<ul> 
		<li>
			<img src="{{STATIC_URL}}base/img/avatar.jpg" />
			<p>屌丝, 苦逼程序猿。</p>
			<p>没有什么能永垂不朽, 只希望在有限的生命里做好自己</p>
		</li>
		<li>
			<h2>Categories</h2>
			<ul>
			    {% for cate in cates %}
				    <li><a href="#">{{ cate.text }} ({{ cate.used_count }}) </a></li>
				{% endfor %}
			</ul>
		</li>
		<li>
			<h2>Tags</h2>
			<ul>
                {% for tag in tags %}
                   <li><a href="#">{{ tag.text }} ({{ tag.used_count }}) </a></li>
                {% endfor %}
			</ul>
		</li>
	</ul>
</div>