<div id="sidebar" class="sidebar" >
	<ul> 
		<li>
			<div id="id_avatar" class="header-container">
				<img data-src="{{STATIC_URL}}base/img/qrcode.png" src="{{STATIC_URL}}base/img/avatar.jpg" />
			</div>
			<!--
			<p>{{ sig }}</p>
			<p>{{ words }}</p>
			-->
		</li>
		<!--
		<li>
			<p><a href="http://weibo.com/u/2660630312" target="_blank">新浪微博</a></p>
			<p><a href="mailto:tom@kliyes.com">tom@kliyes.com</a></p>
		</li>
		-->
		<li>
			<h2>Categories</h2>
			<ul>
			    {% for cate in cates %}
				    <li><a href="{% url 'blog_filter' 'cate' cate.id %}">{{ cate.text }} ({{ cate.used_count }}) </a></li>
				{% endfor %}
			</ul>
		</li>
		<li>
			<h2>Tags</h2>
			<ul>
                {% for tag in tags %}
                   <li><a href="{% url 'blog_filter' 'tag' tag.id %}">{{ tag.text }} ({{ tag.used_count }}) </a></li>
                {% endfor %}
			</ul>
		</li>
	</ul>
</div>