{% for blog in page_items %}
	<div class="post" style="height: 600px; overflow: hidden;">
		<h2 class="title"><a href="{% url 'blog_detail' blog.id %}">{{ blog.title }}</a></h2>
		<p class="meta">
			<span class="date">
				{{ blog.update_time|date:"Y年n月j日 H:i" }}
			</span>
			<span class="posted">
				Posted by <a href="">{{ blog.author }}</a>
			</span>
		</p>
		<p>
			{% if blog.cate %}
				<a href="{% url 'blog_filter' 'cate' blog.cate_id %}">{{ blog.cate.text }}</a> 
			{% endif %}
			{% if blog.tags.all %}
				 &nbsp;&bull;&nbsp;
			{% endif %}
			{% for tag in blog.tags.all %}
				<a href="{% url 'blog_filter' 'tag' tag.id %}">{{ tag.text }}</a>
			{% endfor %}
		</p>
		<div class="entry">
			<p>{{ blog.content|safe }}</p>
		</div>
	</div>
{% endfor %}
